* {
  margin: 0;
}

html {
  background-color: rgb(0, 24, 0);
  font-family:Arial, Helvetica, sans-serif;
}

div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 8rem 8rem;
  color: white;
}

h1 {
  font-size: 4rem;
  color: white;
}

canvas {
  margin-left: 23rem;
  margin-top: 3rem;
}

button {
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: greenyellow;
  text-transform: uppercase;
  padding: .4rem;
}